/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
body{
   overflow-y: scroll;
  overflow-x: hidden;

}

.row{
  margin: 0 !important;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}



/*nav bar settings*/

@media screen and (min-width: 768px){
    CSS
}
#custom-nav {
    background-color: rgba(0,0,0,0);
    color: white;
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
#custom-nav .container {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}
.nav a{
  font-size: 15px;
  font-weight: 200;
}

/*nav bar after*/
#custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: #f8f8f8;
    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
@media screen and (max-width: 767px){
    #wrapwrap {
        padding-top: 50px;
    }
    .navbar-fixed-top {
        z-index: 999;
    }
}
/*nav bar after end*/
/*nav bar settings end*/
.testing-section{
  height: 100vh;
  /*border:3px solid black;*/
}
/*carousel start*/
.carousel-caption {
  /*position: absolute;*/
  /*bottom: 30%;*/
  
  align-content: center;
  
  position: absolute;
  margin-bottom: 180px;
  
  color: white;
  /*position: absolute;*/
  /*z-index: 300;*/
  /*padding-top: 20px;*/

}
.bannerh1{
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  font-weight: 100;
}
.bannerh3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 200;
}
.banner-swimming{
   background:
   linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)
), url(../images/banner1.jpg);
  background-size: cover;
}

.banner-rooms{
   background:
   linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)
), url(../images/banner2.jpg);
  background-size: cover;
}
.banner-bar{
  background:
   linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)
), url(../images/banner3.jpg);
  background-size: cover;
}
.banner-hike{
   background:
   linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)
), url(../images/banner4.jpg);
  background-size: cover;
}
.banner-chef{
   background:
   linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)
), url(../images/banner5.jpg);
  background-size: cover;
}
/*carousel end*/
.first_section{
  /*border: 3px solid black;*/
  height: 80vh;
}
.massage{
  /*background-color: rgb(88, 55, 135);*/
  /*border: 3px solid black;*/
  height: 100vh;
}
.massage-image{
  background-image: url(../images/massage1.jpg);
  background-size: cover;
}
.massage-text{
  /*border: 30px solid pink;*/
  height: 40vh;
  border-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/pink-doily-bdr.png") 30;
}
.massage-text h2{
  font-size: 30px;
  font-weight:lighter;
  font-family: 'Open Sans Condensed', sans-serif;
}
.massage-details{
  margin-top: 10px;
  /*background-color: rgb(93, 68, 64);*/
  height: 15vh;
}
.massage-details p{
  font-size: 20px;
  font-weight: normal;
  font-family: 'Open Sans Condensed', sans-serif;
}
.second_section{
  border: 3px solid black;
  height: 100vh;
}
.jacuzzi{
  /*background-color: rgb(186, 30, 30);*/
  /*border: 3px solid black;*/
  height: 100vh;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ), url(../images/barindex.jpg);
  /*position: fixed;*/
}
.third_section{
  /*border: 3px solid black;*/
  height: 100vh;
}
.rooms{
  /*background-color: rgb(66, 56, 71);*/
  border: 3px solid black;
  height: 100vh;
}
.room-image{
  background-image: url(../images/hotelimage1.jpg);
  background-size: cover;
}
.fourth_section{
  border: 3px solid black;
  height: 100vh;
}
.bar{
  border: 3px solid black;
  height: 100vh;
}
.bar-image{
  background-image: url(../images/bar1.jpg);
  background-size: cover;
}
.col-md-6{
  /*border: 3px solid black;*/
  height: 100%;
}
/*footer start*/

/*footer end*/

/*food.htm styling start*/

/*banner*/
.banner{
  height: 100vh;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ), url(../images/food.jpg);
  background-size: cover;
  align-content: center;
}
.text-content{
  position: absolute;
  left: 40%;
  top: 50%;
  font-size: 40px;
  color: white;
  font-weight: lighter;
  font-family: 'Pacifico', cursive;
}


/*banner end*/

/*food div start*/
.food{
  height: 100vh;
  padding: 20px;
}
.food-title{
  height: 20vh;
  align-content: center;
}
.food-title h4{
  position: absolute;
  left: 40%;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 40px;
  color: rgb(25, 26, 22);
}
.food-title hr{
  /*position: absolute;*/
  /*left: 40%;*/
  width: 40%;
}
.food hr{
  width: 90%;
  color:rgb(16, 18, 19);

}
.food1-stuff{
  margin-bottom: 20px!important;
}
.food2-stuff{
  margin-bottom: 20px!important;
}

/*.food .row{
  padding: 20px;
}*/
/*.food1{
  height: 10vh;
}*/
.image-food{
  height: 15vh;
  background-image: url(../images/french-toast.jpg);
  background-size: cover;
}
.food-description p{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
/*food div end*/

/*dinner party start*/
.dinner-party{
  height: 100vh;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/dinner-party2.jpg);
  background-size: cover;
}
.dinner-party-text{
  height: 20vh;

}
.dinner-party-text h4{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: rgb(111, 230, 17);
  position: absolute;
  left: 30%;
  /*align-content: flex-end;*/
}


.dinner-stuff{
  height: 40vh;
  /*margin-top: 20px;*/
  /*margin: 30px;*/
}
.dinner-party-text-image{
  height: 40vh;
  background-image: url(../images/dinner-party1.jpg);
  background-size: cover;
}
.dinner-party-text2{
  background-color: rgb(241, 241, 241);
  height: 40vh;
  border-right: 1px dotted black;
}
.dinner-party-text2 h5{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Open Sans Condensed', sans-serif;
}
.dinner-party-text2 h5{
  font-weight:bold;
  font-family: 'Open Sans Condensed', sans-serif;
}
.dinner-party-text2 p{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.dinner-party-text-time{
  background-color: rgb(241, 241, 241);
  height: 40vh;
}
.dinner-party-text-time h2{
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  color: rgb(111, 230, 17);
}
.dinner-party-text-time p{
  font-size: 30px;
  font-weight: lighter;

}
/*dinner party end*/
/*start of drinks section*/
.drinks{
  height: 100vh;
  padding: 20px;
}
.drinks-title{
  height: 20vh;
  align-content: center;
}
.drinks-title h4{
  position: absolute;
  left: 40%;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 40px;
  color: rgb(25, 26, 22);
}
.drink1-stuff{
  margin-bottom: 20px!important;
}
.drink2-stuff{
  margin-bottom: 20px!important;
}

/*.food .row{
  padding: 20px;
}*/
/*.food1{
  height: 10vh;
}*/
.image-drink{
  height: 15vh;
  background-image: url(../images/cappucinno.jpg);
  background-size: cover;
}
.drink-description p{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
/*end of drinks section*/

/*start of jazz band section*/
.open-mic{
  height: 100vh;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/open-mic.jpg);
  background-size: cover;
}
.open-mic-title{
  height:30vh;

}
.open-mic-title h2{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: rgb(111, 230, 17);
  padding-left: 50px;
}
.open-mic-description{
  height: 20vh;
  /*color: rgb(244, 244, 244);*/
}
.open-mic-image{
  height: 20vh;
  background-image: url(../images/open-mic2.png);
  background-size: cover;
}
.open-mic-sales{
  background-color: rgb(237, 237, 237);
}
.open-mic-sales h3{

  font-size: 30px;
  font-weight: 500;
  font-family: 'Open Sans Condensed', sans-serif;
}
.open-mic-time{
  background-color: rgb(80, 65, 9);
  height: 20vh;
}
.open-mic-time h4{
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  color: rgb(111, 230, 17);
}
.open-mic-time p{
  font-size: 25px;
  font-weight: lighter;
  color: rgb(222, 200, 207);
}
/*jazz band section end*/
/*food.html styling end*/

/*reservation start*/
.reservation-banner{
  height: 100vh;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/dinner-party2.jpg);
  background-size: cover;
}
.reservation-banner h4{
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  position: absolute;
  color: rgb(72, 242, 12);
  top: 20%;
  left:40%;
}
.reservation-banner hr{
  top: 30%;
  position: absolute;
  left: 25%;
}
.reservation-select{
  background-color: rgb(255, 255, 255);
  height: 15vh;
  position: absolute;
  top: 45%;
  left: 12%;
}
.reservation-select p{
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}
/*reservation end*/
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  /*max-width: 100%;*/
  margin: 0 ;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
section.module.parallax-2 {
  background-image: url("../images/barindex.jpg");
}
section.module.parallax-3 {
  background-image: url("../images/barindex.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
.room-image{
  background-image: url(../images/hotelroom2.jpg);
  background-size: cover;
  height: 80vh;
}
.room-text{
  /*background-color: rgb(58, 120, 102);*/
  height: 80vh;
}
.room-text h2{
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
}
.singles{
  height: 10vh;
  background-color: rgb(244, 244, 244);
  margin-bottom: 20px;
  /*border-right: 1px dotted green;*/
}
.couples{
  height: 10vh;
  background-color: rgb(244, 244, 244);
  /*border: 3px dotted black;*/
  margin-bottom: 10px;
}
.family{
  height: 10vh;
  background-color: rgb(244, 244, 244);
}
/*footer start*/
/* ============================================================
  FOOTER
============================================================ */
footer{
  margin-bottom: 0px;;
}
.footer{
  height: 30vh;
  background-color: rgb(73, 79, 72);
  margin-bottom: 0px;
}
.footer-text{
  position: absolute;
  left: 40%;
  /*top: 20%;*/
  color: white;
}
.footer-text p{
  padding-left: 10px;
}
/*footer end*/
