/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
body{
   overflow-y: scroll;
  overflow-x: hidden;

}

.row{
  margin: 0 !important;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}


.banner{
  /*background-color: rgb(27, 32, 30);*/
  border: 3px solid black;
  height: 100vh;
  background-color: black;
  background-image: url(/images/);
}
/*nav bar settings*/
@media screen and (min-width: 768px){
    CSS
}
#custom-nav {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
#custom-nav .container {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}

/*nav bar after*/
#custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: #f8f8f8;
    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
@media screen and (max-width: 767px){
    #wrapwrap {
        padding-top: 50px;
    }
    .navbar-fixed-top {
        z-index: 999;
    }
}
/*nav bar after end*/
/*nav bar settings end*/
.testing-section{
  height: 100vh;
  border:3px solid black;
}
/*carousel start*/
/*carousel end*/
.first_section{
  border: 3px solid black;
  height: 100vh;
}
.massage{
  /*background-color: rgb(88, 55, 135);*/
  border: 3px solid black;
  height: 50vh;
}
.jacuzzi{
  /*background-color: rgb(186, 30, 30);*/
  border: 3px solid black;
  height: 50vh;
}
.second_section{
  border: 3px solid black;
  height: 100vh;
}
.rooms{
  /*background-color: rgb(66, 56, 71);*/
  border: 3px solid black;
  height: 50vh;
}
.dinner{
  border: 3px solid black;
  height: 50vh;
}
.col-md-6{
  border: 3px solid black;
  height: 100%;
}
