/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
body{
   overflow-y: scroll;
  overflow-x: hidden;

}

.row{
  margin: 0 !important;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}



/*nav bar settings*/

@media screen and (min-width: 768px){
    CSS
}
#custom-nav {
    background-color: rgba(0,0,0,0);
    color: white;
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
#custom-nav .container {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}

/*nav bar after*/
#custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: #f8f8f8;
    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
@media screen and (max-width: 767px){
    #wrapwrap {
        padding-top: 50px;
    }
    .navbar-fixed-top {
        z-index: 999;
    }
}
/*nav bar after end*/
/*nav bar settings end*/
.testing-section{
  height: 100vh;
  border:3px solid black;
}
/*carousel start*/

/*carousel end*/
.first_section{
  border: 3px solid black;
  height: 100vh;
}
.massage{
  /*background-color: rgb(88, 55, 135);*/
  border: 3px solid black;
  height: 50vh;
}
.massage-image{
  background-image: url(../images/massage1.jpg);
  background-size: cover;
}
.jacuzzi{
  /*background-color: rgb(186, 30, 30);*/
  border: 3px solid black;
  height: 50vh;
}
.jacuzzi-image{
  background-image: url(../images/jacuzzi2.jpg);
  background-size: cover;
}
.second_section{
  border: 3px solid black;
  height: 100vh;
}
.rooms{
  /*background-color: rgb(66, 56, 71);*/
  border: 3px solid black;
  height: 50vh;
}
.room-image{
  background-image: url(../images/hotelimage1.jpg);
  background-size: cover;
}
.bar{
  border: 3px solid black;
  height: 50vh;
}
.bar-image{
  background-image: url(../images/bar1.jpg);
  background-size: cover;
}
.col-md-6{
  border: 3px solid black;
  height: 100%;
}
/*footer start*/

/*footer end*/

/*food.htm styling start*/

/*banner*/
.banner{
  height: 100vh;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ), url(../images/food.jpg);
  background-size: cover;
  align-content: center;
}
.text-content{
  position: absolute;
  left: 40%;
  top: 50%;
  font-size: 40px;
  color: white;
  font-weight: lighter;
  font-family: 'Pacifico', cursive;
}


/*banner end*/

/*food div start*/
.food{
  height: 100vh;
  padding: 20px;
}
.food-title{
  height: 20vh;
  align-content: center;
}
.food-title h4{
  position: absolute;
  left: 40%;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 40px;
  color: rgb(25, 26, 22);
}
.food-title hr{
  /*position: absolute;*/
  /*left: 40%;*/
  width: 40%;
}
.food hr{
  width: 90%;
  color:rgb(16, 18, 19);

}
.food1-stuff{
  margin-bottom: 20px!important;
}
.food2-stuff{
  margin-bottom: 20px!important;
}

/*.food .row{
  padding: 20px;
}*/
/*.food1{
  height: 10vh;
}*/
.image-food{
  height: 15vh;
  background-image: url(../images/french-toast.jpg);
  background-size: cover;
}
.food-description p{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
/*food div end*/

/*dinner party start*/
.dinner-party{
  height: 100vh;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/dinner-party2.jpg);
  background-size: cover;
}
.dinner-party-text{
  height: 20vh;

}
.dinner-stuff{
  height: 40vh;
  margin-top: 20px;
  /*margin: 30px;*/
}
.dinner-party-text-image{
  height: 40vh;
  background-image: url(../images/dinner-party1.jpg);
  background-size: cover;
}
.dinner-party-text2{
  background-color: rgb(241, 241, 241);
  height: 40vh;
}
.dinner-party-text-time{
  background-color: rgb(241, 241, 241);
  height: 40vh;
}
/*dinner party end*/
/*food.html styling end*/
